<h2>Edit Patient History Form</h2>

<%if @user && @user.errors.any?%>
    <ul>
        <%@user.errors.full_messages.each do |message|%>
            <li><%=message%></li>
        <%end%>
    </ul>
<%end%>

<h3>Patient Name: <%=@patient.name%></h3>
<h3>Leave fields blank if no editing is required.</h3>
<form action="/patients/<%=@patient.id%>/histories/<%=@history.id%>" method="POST" id="patienthistoryform">
    <input id="hidden" type="hidden" name="_method" value="patch">
    <p>
        <label for="date">Entry Date (YYYY-MM-dd):</label>
        <input type="text" name="date" id="date">
        [<%=@history.date%>]
    </p>
    <p>
        <label for="action">Diagnosis:</label>
        <input type="text" name="action" id="action">
        [<%=@history.action%>]
    </p>
    <textarea placeholder="Enter patient history here..." rows="4" cols="50" name="notes" form="patienthistoryform"></textarea>
    [<%=@history.notes%>]
    <br>
    <br>
    <input type="submit">
</form>
<br>

<br>
<a href="/patients/<%=@patient.id%>">Back to patient detail</a>
<br>
<a href="/logout">Logout</a>
