<!--MOVE TO CSS FILE-->
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 30%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
<!--MOVE ABOVE TO CSS FILE-->

<h2>Welcome, <%=@user.username%>.  Here are a list of your patients</h1>
<h3>Current Date and Time:</h3>
<p><%=Time.now.localtime.strftime("%c")%></p>

<h2><%=@message if @message%></h2>

<h3><a href="/patients/new">Create a new patient</a></h3>

<h3>Current Patient List</h3>

<table>
  <tr>
    <th>Patient Name</th>
    <th>Patient Age</th>
    <th>Action</th>
  </tr>

  <%@patients.each do |patient|%>
    <tr>
        <td><%=patient.name%></td>
        <td><%=Time.now.year - patient.birth_year%></td>
        <td>
          <a href="/patients/<%=patient.id%>">View Details</a><br>
        </td>
    </tr>
  <%end%>
</table>
<br>
<h3>Summary List of Clinic Patients by Users</h3>

<table style="width:20%">
  <tr>
    <th>User</th>
    <th>Patient Count</th>
  </tr>

  <%@all_users.each do |user|%>
    <tr>
        <td><%=user.username%></td>
        <td><%=user.patients.count%></td>
    </tr>
  <%end%>
</table>
<br>
<h3>Total patients in clinic: <%=@all_patients.count%></h3>

<br>

<!--CREATE LINKS TO LOGOUT -->
<a href="/logout">Logout</a>
