<!--MOVE TO CSS FILE-->
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 30%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
<!--MOVE ABOVE TO CSS FILE-->

<h2>Welcome, <%=@user.username%>.  Here are a list of your patients</h1>
<h3>Current Date and Time:</h3>
<p><%=Time.now.localtime.strftime("%c")%></p>

<h2><%=@message if @message%></h2>

<h3><a href="/patients/new">Create a new patient</a></h3>

<h3>Current Patient List</h3>

<table>
  <tr>
    <th>Patient Name</th>
    <th>Birth Year</th>
    <th>Action</th>
  </tr>

  <%@patients.each do |patient|%>
    <tr>
        <td><%=patient.name%></td>
        <td><%=patient.birth_year%></td>
        <td>
          <a href="/patients/<%=patient.id%>">View</a><br>
          <a href="/patients/<%=patient.id%>/delete">Delete</a>
        </td>
    </tr>
  <%end%>
</table>
<br>

<!--CREATE LINKS TO LOGOUT -->
<a href="/logout">Logout</a>
