<!--MOVE TO CSS FILE-->
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 30%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
<!--MOVE ABOVE TO CSS FILE-->

<h2>Patient Detail</h1>
<h3>Current Date and Time:</h3>
<p><%=Time.now.localtime.strftime("%c")%></p>

<table>
    <tr>
        <th>Patient Name</th>
        <th>Birth Year</th>
        <th>Phone</th>
        <th>Address</th>
        <th>Health Care Number</th>
        <th>Action</th>
    </tr>

    <tr>
        <td><%=@patient.name%></td>
        <td><%=@patient.birth_year%></td>
        <td><%=@patient.phone%></td>
        <td><%=@patient.address%></td>
        <td><%=@patient.healthcarenumber%></td>
        <td>
            <a href="/patients/<%=@patient.id%>/edit">Edit</a><br>
        </td>
    </tr>
</table>
<br>
<br>
<h3>Patient History</h3>
<table>
    <tr>
        <th>Record #</th>
        <th>Date</th>
        <th>Notes</th>
        <th>Conclusion</th>
        <th>Action</th>
    </tr>

    <tr>
        <%@histories.each do |history|%>
            <td><%=history.id%></td>
            <td><%=history.date%></td>
            <td><%=history.notes%></td>
            <td><%=history.action%></td>
        <%end%>
        <td>
            <a href="/patients/<%=@patient.id%>/edit">Edit</a><br>
        </td>
    </tr>
</table>
<br>
<br>

<!--DELETE BUTTON-->
<form action="/patients/<%= @patient.id %>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="DELETE PATIENT RECORD">
</form>

<br>
<!--CREATE NAV LINKS -->
<a href="/patients">Back to patient list</a>
<br>
<a href="/logout">Logout</a>
